%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "daily expenses", root_path, class: 'homepage'
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.new-expense
          = link_to "#{image_tag('expense-icon.png', alt: 'New expense')} #{t('dashboard.navbar.new_expense')}".html_safe, new_dashboard_expense_path
        %li.your-expenses
          = link_to "#{image_tag('expenses-list-icon.png', alt: 'My expenses')} #{t('dashboard.navbar.my_expenses')}".html_safe, dashboard_expenses_path
        %li.profile
          = link_to "#{image_tag("profile-icon.png", alt: 'Profile')} #{t('dashboard.navbar.profile')}".html_safe, dashboard_profile_path
        %li.settings
          = link_to "#{image_tag("settings-icon.png", alt: 'Settings')} #{t('dashboard.navbar.settings')}".html_safe, edit_dashboard_settings_path
        %li.logout
          = link_to "#{image_tag('logout-icon.png', alt: 'Logout')} #{t('dashboard.navbar.logout')}".html_safe, sessions_destroy_path, method: :delete
