.top-nav
  = link_to "Daily Expenses", root_path, class: 'homepage'
  = link_to "Log In", '/auth/facebook', class: 'login'
.main-content
  %header
    %h1 Be transparent with your expenses
    %h3 Bills? Shopping? Holidays?
    %h4 You Can Save It All Here - For free.
  .new-expenses-container
    = simple_form_for @expense do |f|
      %table
        %tr
          %td= f.input :payed_at, as: :string, placeholder: 'Date', label: false, input_html: { value: '2014-10-27' }
          %td= f.input :name, placeholder: 'Name of expense', label: false
          %td= f.input :price, placeholder: 'Cost', label: false
  = link_to "Sign Up Free", '/auth/facebook', class: 'btn'

.info-box

  / .content
  /   %h3 If you want to...
  /   %ul
  /     %li have transparency in your spendings
  /     %li keep a history of your expenses
  /     %li split your expenses between other house residents
  /     %li remind them about payments

  / %p
  /   invite residents of your home - let them know about expenses
  /   split expenses - everyone pays the same!
  /   send reminders and make others pay - get your money back!
  /   your expenses become transparent - see how much you spend every week, month or even a year!
