= render partial: 'partials/navbar'
%header
  %h3 New expense
.new-expense
  = simple_form_for @expense do |f|
    %table.table.table-condensed
      %tr
        %td.payed_at= f.input :payed_at, as: :string, placeholder: 'Payed at', label: false, input_html: { value: Date.today.strftime }
        %td.price= f.input :price, placeholder: 'Cost', label: false
        %td.name= f.input :name, placeholder: 'Name of expense', label: false
        %td.save= f.button :submit, value: 'Save it!'
